{
    "openapi": "3.0.0",
    "info": {
      "title": "Fern Developer API",
      "version": "0.1.0",
      "description": "Easily integrate on and off-ramps into and out of your token of choice",
      "contact": {
        "name": "Fern Support",
        "email": "support@fernhq.com",
        "url": "https://fernhq.com"
      },
      "license": {
        "name": "Proprietary"
      },
      "termsOfService": "https://fernhq.com/terms"
    },
    "servers": [
      {
        "url": "https://app.fernhq.com",
        "description": "Prod"
      }
    ],
    "security": [
      {
        "bearerAuth": []
      }
    ],
    "tags": [
      {
        "name": "Bank Accounts",
        "description": "Operations for managing bank accounts"
      },
      {
        "name": "Customers",
        "description": "Operations for managing customers"
      },
      {
        "name": "Quotes",
        "description": "Operations for managing quotes"
      },
      {
        "name": "Transactions",
        "description": "Operations for managing transactions"
      }
    ],
    "externalDocs": {
      "description": "Fern Privacy Policy",
      "url": "https://fernhq.com/privacy"
    },
    "components": {
      "securitySchemes": {
        "bearerAuth": {
          "type": "http",
          "scheme": "bearer",
          "bearerFormat": "FSK",
          "description": "API key must be provided as a Bearer token. Format: fsk_\u003Cbase64-encoded-string\u003E"
        }
      },
      "schemas": {
  
      },
      "parameters": {
  
      }
    },
    "paths": {
      "/api/v0/bankAccounts": {
        "post": {
          "tags": [
            "Bank Accounts"
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "customerId": {
                      "type": "string",
                      "description": "Unique identifier of the customer",
                      "example": "03b7030f-6da1-4d76-9352-cdebd82112c8"
                    },
                    "beneficiary": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "minLength": 1,
                          "description": "Full name of the beneficiary",
                          "example": "John Doe"
                        },
                        "address": {
                          "type": "object",
                          "properties": {
                            "addressLine1": {
                              "type": "string",
                              "description": "Primary street address",
                              "example": "123 Main Street"
                            },
                            "addressLine2": {
                              "type": "string",
                              "description": "Secondary address information (apt, suite, etc)",
                              "example": "Suite 100"
                            },
                            "city": {
                              "type": "string",
                              "description": "City name",
                              "example": "San Francisco"
                            },
                            "state": {
                              "type": "string",
                              "pattern": "^[A-Z0-9]{1,3}$",
                              "description": "State/province code (ISO 3166-2)",
                              "example": "CA"
                            },
                            "postalCode": {
                              "type": "string",
                              "description": "Postal/ZIP code",
                              "example": "94105"
                            },
                            "country": {
                              "type": "string",
                              "pattern": "^[A-Z]{2}$",
                              "description": "Two-letter country code (ISO 3166-1 alpha-2)",
                              "example": "US"
                            }
                          },
                          "required": [
                            "addressLine1",
                            "city",
                            "state",
                            "postalCode",
                            "country"
                          ],
                          "description": "Physical address of the beneficiary"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "individual",
                            "business"
                          ],
                          "description": "Type of beneficiary - individual or business entity",
                          "title": "Beneficiary Type",
                          "example": "individual"
                        }
                      },
                      "required": [
                        "name",
                        "address",
                        "type"
                      ],
                      "description": "Details about the bank account beneficiary",
                      "title": "Beneficiary Information"
                    },
                    "bankAccountInformation": {
                      "type": "object",
                      "properties": {
                        "accountNumber": {
                          "type": "string",
                          "minLength": 1,
                          "description": "Bank account number",
                          "example": "000123456789"
                        },
                        "achRoutingNumber": {
                          "type": "string",
                          "maxLength": 20,
                          "description": "ACH routing number for domestic US transfers",
                          "example": "021000021"
                        },
                        "wireRoutingNumber": {
                          "type": "string",
                          "maxLength": 20,
                          "description": "Wire routing number for wire transfers",
                          "example": "021000021"
                        },
                        "accountType": {
                          "type": "string",
                          "enum": [
                            "checking",
                            "savings"
                          ],
                          "description": "The type of bank account",
                          "title": "Account Type"
                        },
                        "bankName": {
                          "type": "string",
                          "minLength": 1,
                          "description": "Name of the bank",
                          "example": "Chase Bank"
                        },
                        "accountName": {
                          "type": "string",
                          "description": "Name on the account (if different from beneficiary)",
                          "example": "John Doe Business Account"
                        }
                      },
                      "required": [
                        "accountNumber",
                        "accountType",
                        "bankName"
                      ],
                      "description": "Banking details including account numbers, routing numbers, and account type",
                      "title": "Bank Account Information"
                    }
                  },
                  "required": [
                    "customerId",
                    "beneficiary",
                    "bankAccountInformation"
                  ],
                  "description": "Request payload for creating a new bank account. Requires either ACH or Wire routing number.",
                  "title": "Create Bank Account Request"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Bank account created successfully",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Unique identifier of the bank account",
                        "example": "072a8b7b-38c7-429a-a6cf-35dae7f2fb77"
                      },
                      "accountMask": {
                        "type": "string",
                        "minLength": 4,
                        "maxLength": 4,
                        "description": "Last 4 digits of the account number",
                        "example": "6789"
                      },
                      "bankName": {
                        "type": "string",
                        "description": "Name of the bank",
                        "example": "Chase Bank"
                      },
                      "beneficiary": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "individual",
                              "business"
                            ],
                            "description": "The type of beneficiary - either individual or business",
                            "title": "Beneficiary Type"
                          },
                          "name": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "type",
                          "name"
                        ],
                        "description": "Basic beneficiary information"
                      },
                      "accountType": {
                        "type": "string",
                        "enum": [
                          "checking",
                          "savings"
                        ],
                        "description": "The type of bank account",
                        "title": "Account Type"
                      }
                    },
                    "required": [
                      "id",
                      "accountMask",
                      "bankName",
                      "beneficiary",
                      "accountType"
                    ],
                    "description": "Response payload containing bank account details",
                    "title": "Bank Account Response"
                  }
                }
              }
            }
          }
        }
      },
      "/api/v0/bankAccounts/{bankAccountId}": {
        "get": {
          "tags": [
            "Bank Accounts"
          ],
          "parameters": [
            {
              "schema": {
                "type": "string",
                "description": "Unique identifier of the bank account",
                "example": "072a8b7b-38c7-429a-a6cf-35dae7f2fb77"
              },
              "required": true,
              "name": "bankAccountId",
              "in": "path"
            }
          ],
          "responses": {
            "200": {
              "description": "Bank account details retrieved successfully",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Unique identifier of the bank account",
                        "example": "072a8b7b-38c7-429a-a6cf-35dae7f2fb77"
                      },
                      "accountMask": {
                        "type": "string",
                        "minLength": 4,
                        "maxLength": 4,
                        "description": "Last 4 digits of the account number",
                        "example": "6789"
                      },
                      "bankName": {
                        "type": "string",
                        "description": "Name of the bank",
                        "example": "Chase Bank"
                      },
                      "beneficiary": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "individual",
                              "business"
                            ],
                            "description": "The type of beneficiary - either individual or business",
                            "title": "Beneficiary Type"
                          },
                          "name": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "type",
                          "name"
                        ],
                        "description": "Basic beneficiary information"
                      },
                      "accountType": {
                        "type": "string",
                        "enum": [
                          "checking",
                          "savings"
                        ],
                        "description": "The type of bank account",
                        "title": "Account Type"
                      }
                    },
                    "required": [
                      "id",
                      "accountMask",
                      "bankName",
                      "beneficiary",
                      "accountType"
                    ],
                    "description": "Response payload containing bank account details",
                    "title": "Bank Account Response"
                  }
                }
              }
            }
          }
        },
        "patch": {
          "tags": [
            "Bank Accounts"
          ],
          "parameters": [
            {
              "schema": {
                "type": "string",
                "description": "Unique identifier of the bank account",
                "example": "072a8b7b-38c7-429a-a6cf-35dae7f2fb77"
              },
              "required": true,
              "name": "bankAccountId",
              "in": "path"
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "customerId": {
                      "type": "string",
                      "description": "Unique identifier of the customer",
                      "example": "03b7030f-6da1-4d76-9352-cdebd82112c8"
                    },
                    "beneficiary": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "minLength": 1,
                          "description": "Full name of the beneficiary",
                          "example": "John Doe"
                        },
                        "address": {
                          "type": "object",
                          "properties": {
                            "addressLine1": {
                              "type": "string",
                              "description": "Primary street address",
                              "example": "123 Main Street"
                            },
                            "addressLine2": {
                              "type": "string",
                              "description": "Secondary address information (apt, suite, etc)",
                              "example": "Suite 100"
                            },
                            "city": {
                              "type": "string",
                              "description": "City name",
                              "example": "San Francisco"
                            },
                            "state": {
                              "type": "string",
                              "pattern": "^[A-Z0-9]{1,3}$",
                              "description": "State/province code (ISO 3166-2)",
                              "example": "CA"
                            },
                            "postalCode": {
                              "type": "string",
                              "description": "Postal/ZIP code",
                              "example": "94105"
                            },
                            "country": {
                              "type": "string",
                              "pattern": "^[A-Z]{2}$",
                              "description": "Two-letter country code (ISO 3166-1 alpha-2)",
                              "example": "US"
                            }
                          },
                          "required": [
                            "addressLine1",
                            "city",
                            "state",
                            "postalCode",
                            "country"
                          ],
                          "description": "Physical address information with standardized country and state codes",
                          "title": "Address"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "individual",
                            "business"
                          ],
                          "description": "Type of beneficiary - individual or business entity",
                          "title": "Beneficiary Type",
                          "example": "individual"
                        }
                      },
                      "description": "Updated beneficiary information - all fields are optional"
                    },
                    "bankAccountInformation": {
                      "type": "object",
                      "properties": {
                        "accountNumber": {
                          "type": "string"
                        },
                        "achRoutingNumber": {
                          "type": "string",
                          "maxLength": 20,
                          "description": "ACH routing number for domestic US transfers",
                          "example": "021000021"
                        },
                        "wireRoutingNumber": {
                          "type": "string",
                          "maxLength": 20,
                          "description": "Wire routing number for wire transfers",
                          "example": "021000021"
                        },
                        "accountType": {
                          "type": "string",
                          "enum": [
                            "checking",
                            "savings"
                          ],
                          "description": "The type of bank account",
                          "title": "Account Type"
                        },
                        "bankName": {
                          "type": "string"
                        },
                        "accountName": {
                          "type": "string",
                          "description": "Name on the account (if different from beneficiary)",
                          "example": "John Doe Business Account"
                        }
                      },
                      "description": "Updated bank account information - all fields are optional"
                    }
                  },
                  "required": [
                    "customerId"
                  ],
                  "description": "Request payload for updating an existing bank account. All fields except customerId are optional.",
                  "title": "Update Bank Account Request"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Bank account updated successfully",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Unique identifier of the bank account",
                        "example": "072a8b7b-38c7-429a-a6cf-35dae7f2fb77"
                      },
                      "accountMask": {
                        "type": "string",
                        "minLength": 4,
                        "maxLength": 4,
                        "description": "Last 4 digits of the account number",
                        "example": "6789"
                      },
                      "bankName": {
                        "type": "string",
                        "description": "Name of the bank",
                        "example": "Chase Bank"
                      },
                      "beneficiary": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "individual",
                              "business"
                            ],
                            "description": "The type of beneficiary - either individual or business",
                            "title": "Beneficiary Type"
                          },
                          "name": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "type",
                          "name"
                        ],
                        "description": "Basic beneficiary information"
                      },
                      "accountType": {
                        "type": "string",
                        "enum": [
                          "checking",
                          "savings"
                        ],
                        "description": "The type of bank account",
                        "title": "Account Type"
                      }
                    },
                    "required": [
                      "id",
                      "accountMask",
                      "bankName",
                      "beneficiary",
                      "accountType"
                    ],
                    "description": "Response payload containing bank account details",
                    "title": "Bank Account Response"
                  }
                }
              }
            }
          }
        }
      },
      "/api/v0/quotes": {
        "post": {
          "tags": [
            "Quotes"
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "customerId": {
                      "type": "string",
                      "description": "A unique identifier for the customer initiating the transaction.",
                      "example": "03b7030f-6da1-4d76-9352-cdebd82112c8"
                    },
                    "source": {
                      "type": "object",
                      "properties": {
                        "bankAccountId": {
                          "type": "string",
                          "description": "The bank account ID when sending from a bank account.",
                          "example": "072a8b7b-38c7-429a-a6cf-35dae7f2fb77"
                        },
                        "paymentRail": {
                          "anyOf": [
                            {
                              "type": "string",
                              "enum": [
                                "ach",
                                "ach_same_day",
                                "wire"
                              ],
                              "description": "The payment rail for the source funds (fiat)",
                              "example": "ach"
                            },
                            {
                              "type": "string",
                              "enum": [
                                "arbitrum",
                                "base",
                                "ethereum",
                                "optimism",
                                "polygon"
                              ],
                              "description": "The payment rail for the source funds (crypto)",
                              "example": "ethereum"
                            }
                          ],
                          "description": "The payment rail for the source funds (crypto or fiat)"
                        },
                        "currency": {
                          "type": "string",
                          "description": "The currency to send (e.g., USD, ETH, USDC)",
                          "example": "USD"
                        }
                      },
                      "required": [
                        "paymentRail",
                        "currency"
                      ]
                    },
                    "destination": {
                      "type": "object",
                      "properties": {
                        "bankAccountId": {
                          "type": "string",
                          "description": "The bank account ID when sending to a bank account.",
                          "example": "072a8b7b-38c7-429a-a6cf-35dae7f2fb77"
                        },
                        "walletAddress": {
                          "type": "string",
                          "maxLength": 42,
                          "description": "The wallet address when sending to a crypto wallet.",
                          "example": "0xbf50fb9c99233f95bce213044507e58485cf9eba"
                        },
                        "paymentRail": {
                          "anyOf": [
                            {
                              "type": "string",
                              "enum": [
                                "ach",
                                "ach_same_day",
                                "wire"
                              ],
                              "description": "The payment rail for the destination (fiat)",
                              "example": "ach"
                            },
                            {
                              "type": "string",
                              "enum": [
                                "arbitrum",
                                "base",
                                "ethereum",
                                "optimism",
                                "polygon"
                              ],
                              "description": "The payment rail for the destination (crypto)",
                              "example": "ethereum"
                            }
                          ],
                          "description": "The payment rail for the destination (crypto or fiat)"
                        },
                        "currency": {
                          "type": "string",
                          "description": "The currency to receive (e.g., USD, USDC)",
                          "example": "USDC"
                        },
                        "wireMessage": {
                          "type": "string",
                          "maxLength": 140,
                          "description": "Optional message for wire transfers, relayed to destination bank (max 140 characters)"
                        },
                        "achReference": {
                          "type": "string",
                          "maxLength": 80,
                          "description": "Optional reference for ACH transfers, relayed to destination bank (max 80 characters)"
                        }
                      },
                      "required": [
                        "paymentRail",
                        "currency"
                      ]
                    },
                    "sendingAmount": {
                      "type": "number",
                      "minimum": 0,
                      "description": "The amount to convert and send, expressed in decimals and denominated in the source currency",
                      "example": 100
                    },
                    "developerFee": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "usd_spread"
                          ],
                          "description": "The type of fee"
                        },
                        "amount": {
                          "type": "number",
                          "minimum": 0,
                          "description": "Amount of this fee that was applied",
                          "example": 5.45
                        }
                      },
                      "required": [
                        "type",
                        "amount"
                      ],
                      "description": "Specifies additional fees which the developer can charge on top of fern fees",
                      "title": "Developer Fees"
                    }
                  },
                  "required": [
                    "customerId",
                    "source",
                    "destination",
                    "sendingAmount"
                  ],
                  "description": "Get a proposed price for your specified currency route (price guaranteed for 5 mins)",
                  "title": "Create a new quote"
                },
                "examples": {
                  "example1": {
                    "summary": "Create a quote for an offramp transaction",
                    "value": {
                      "customerId": "03b7030f-6da1-4d76-9352-cdebd82112c8",
                      "sendingAmount": 100,
                      "source": {
                        "walletAddress": "0xbf50fb9c99233f95bce213044507e58485cf9eba5",
                        "paymentRail": "ethereum",
                        "currency": "USDC"
                      },
                      "destination": {
                        "bankAccountId": "072a8b7b-38c7-429a-a6cf-35dae7f2fb77",
                        "paymentRail": "wire",
                        "currency": "USD"
                      }
                    }
                  },
                  "example2": {
                    "summary": "Create a quote for an onramp transaction",
                    "value": {
                      "customerId": "03b7030f-6da1-4d76-9352-cdebd82112c8",
                      "sendingAmount": 100,
                      "source": {
                        "bankAccountId": "072a8b7b-38c7-429a-a6cf-35dae7f2fb77",
                        "paymentRail": "wire",
                        "currency": "USD"
                      },
                      "destination": {
                        "walletAddress": "0xbf50fb9c99233f95bce213044507e58485cf9eba5",
                        "paymentRail": "ethereum",
                        "currency": "USDC"
                      }
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Quote created successfully",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "quoteId": {
                        "type": "string",
                        "description": "Unique identifier for this quote",
                        "example": "quote_abc123"
                      },
                      "exchangeRate": {
                        "type": "number",
                        "minimum": 0,
                        "exclusiveMinimum": true,
                        "description": "The rate at which the source currency is multiplied to determine the equivalent amount in the destination currency"
                      },
                      "receivingAmount": {
                        "type": "number",
                        "minimum": 0,
                        "exclusiveMinimum": true,
                        "description": "The amount that will be received after conversion and fees"
                      },
                      "minGuaranteedReceivingAmount": {
                        "type": "number",
                        "minimum": 0,
                        "exclusiveMinimum": true,
                        "description": "The minimum amount guaranteed to be received, accounting for potential price fluctuations"
                      },
                      "expiresAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "ISO timestamp when this quote expires (5 minutes from creation)"
                      },
                      "fees": {
                        "type": "object",
                        "properties": {
                          "fernFee": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "enum": [
                                  "fern",
                                  "developer"
                                ],
                                "description": "The type of fee"
                              },
                              "currency": {
                                "type": "string",
                                "description": "Currency the fee is denominated in",
                                "example": "USD"
                              },
                              "amount": {
                                "type": "number",
                                "description": "Amount of this fee that was applied",
                                "example": 5.45
                              },
                              "usdAmount": {
                                "type": "number",
                                "description": "Amount of this fee that was applied in USD",
                                "example": 5.45
                              }
                            },
                            "required": [
                              "type",
                              "currency",
                              "amount",
                              "usdAmount"
                            ],
                            "description": "Fee charged by Fern"
                          },
                          "developerFee": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "enum": [
                                  "fern",
                                  "developer"
                                ],
                                "description": "The type of fee"
                              },
                              "currency": {
                                "type": "string",
                                "description": "Currency the fee is denominated in",
                                "example": "USD"
                              },
                              "amount": {
                                "type": "number",
                                "description": "Amount of this fee that was applied",
                                "example": 5.45
                              },
                              "usdAmount": {
                                "type": "number",
                                "description": "Amount of this fee that was applied in USD",
                                "example": 5.45
                              }
                            },
                            "required": [
                              "type",
                              "currency",
                              "amount",
                              "usdAmount"
                            ],
                            "description": "Fee charged by application developer"
                          }
                        },
                        "required": [
                          "fernFee"
                        ],
                        "description": "Detailed breakdown of all fees associated with the transaction",
                        "title": "Transaction Fees"
                      }
                    },
                    "required": [
                      "quoteId",
                      "exchangeRate",
                      "receivingAmount",
                      "minGuaranteedReceivingAmount",
                      "expiresAt",
                      "fees"
                    ],
                    "description": "Response containing quote details including exchange rate, fees, and expiration",
                    "title": "Quote Response"
                  },
                  "examples": {
                    "example1": {
                      "summary": "Offramp Quote created successfully",
                      "value": {
                        "quoteId": "ec823f56-fc7f-493e-8723-9583a91466a7",
                        "exchangeRate": 1,
                        "receivingAmount": 79.5,
                        "minGuaranteedReceivingAmount": 79.5,
                        "expiresAt": "2024-12-19T00:29:27.355Z",
                        "fees": {
                          "fernFee": {
                            "type": "fern",
                            "currency": "USD",
                            "amount": 20.5,
                            "usdAmount": 20.5
                          },
                          "developerFee": {
                            "type": "developer",
                            "currency": "USD",
                            "amount": 0,
                            "usdAmount": 0
                          }
                        }
                      }
                    },
                    "example2": {
                      "summary": "Onramp Quote created successfully",
                      "value": {
                        "quoteId": "c88ebfc2-3356-48b5-b2bb-6fca7b618c96",
                        "exchangeRate": 1,
                        "receivingAmount": 9.925,
                        "minGuaranteedReceivingAmount": 9.925,
                        "expiresAt": "2024-12-19T01:04:54.783Z",
                        "fees": {
                          "fernFee": {
                            "type": "fern",
                            "currency": "USDC",
                            "amount": 0.075,
                            "usdAmount": 0.08
                          },
                          "developerFee": {
                            "type": "developer",
                            "currency": "USDC",
                            "amount": 0,
                            "usdAmount": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/api/v0/quotes/{quoteId}": {
        "get": {
          "tags": [
            "Quotes"
          ],
          "parameters": [
            {
              "schema": {
                "type": "string",
                "description": "The unique identifier for the quote to retrieve",
                "example": "c88ebfc2-3356-48b5-b2bb-6fca7b618c96"
              },
              "required": true,
              "name": "quoteId",
              "in": "path"
            }
          ],
          "responses": {
            "200": {
              "description": "Quote details retrieved successfully",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "quoteId": {
                        "type": "string",
                        "description": "Unique identifier for this quote",
                        "example": "quote_abc123"
                      },
                      "exchangeRate": {
                        "type": "number",
                        "minimum": 0,
                        "exclusiveMinimum": true,
                        "description": "The rate at which the source currency is multiplied to determine the equivalent amount in the destination currency"
                      },
                      "receivingAmount": {
                        "type": "number",
                        "minimum": 0,
                        "exclusiveMinimum": true,
                        "description": "The amount that will be received after conversion and fees"
                      },
                      "minGuaranteedReceivingAmount": {
                        "type": "number",
                        "minimum": 0,
                        "exclusiveMinimum": true,
                        "description": "The minimum amount guaranteed to be received, accounting for potential price fluctuations"
                      },
                      "expiresAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "ISO timestamp when this quote expires (5 minutes from creation)"
                      },
                      "fees": {
                        "type": "object",
                        "properties": {
                          "fernFee": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "enum": [
                                  "fern",
                                  "developer"
                                ],
                                "description": "The type of fee"
                              },
                              "currency": {
                                "type": "string",
                                "description": "Currency the fee is denominated in",
                                "example": "USD"
                              },
                              "amount": {
                                "type": "number",
                                "description": "Amount of this fee that was applied",
                                "example": 5.45
                              },
                              "usdAmount": {
                                "type": "number",
                                "description": "Amount of this fee that was applied in USD",
                                "example": 5.45
                              }
                            },
                            "required": [
                              "type",
                              "currency",
                              "amount",
                              "usdAmount"
                            ],
                            "description": "Fee charged by Fern"
                          },
                          "developerFee": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "enum": [
                                  "fern",
                                  "developer"
                                ],
                                "description": "The type of fee"
                              },
                              "currency": {
                                "type": "string",
                                "description": "Currency the fee is denominated in",
                                "example": "USD"
                              },
                              "amount": {
                                "type": "number",
                                "description": "Amount of this fee that was applied",
                                "example": 5.45
                              },
                              "usdAmount": {
                                "type": "number",
                                "description": "Amount of this fee that was applied in USD",
                                "example": 5.45
                              }
                            },
                            "required": [
                              "type",
                              "currency",
                              "amount",
                              "usdAmount"
                            ],
                            "description": "Fee charged by application developer"
                          }
                        },
                        "required": [
                          "fernFee"
                        ],
                        "description": "Detailed breakdown of all fees associated with the transaction",
                        "title": "Transaction Fees"
                      }
                    },
                    "required": [
                      "quoteId",
                      "exchangeRate",
                      "receivingAmount",
                      "minGuaranteedReceivingAmount",
                      "expiresAt",
                      "fees"
                    ],
                    "description": "Response containing quote details including exchange rate, fees, and expiration",
                    "title": "Quote Response"
                  },
                  "examples": {
                    "example1": {
                      "summary": "Offramp Quote created successfully",
                      "value": {
                        "quoteId": "ec823f56-fc7f-493e-8723-9583a91466a7",
                        "exchangeRate": 1,
                        "receivingAmount": 79.5,
                        "minGuaranteedReceivingAmount": 79.5,
                        "expiresAt": "2024-12-19T00:29:27.355Z",
                        "fees": {
                          "fernFee": {
                            "type": "fern",
                            "currency": "USD",
                            "amount": 20.5,
                            "usdAmount": 20.5
                          },
                          "developerFee": {
                            "type": "developer",
                            "currency": "USD",
                            "amount": 0,
                            "usdAmount": 0
                          }
                        }
                      }
                    },
                    "example2": {
                      "summary": "Onramp Quote created successfully",
                      "value": {
                        "quoteId": "c88ebfc2-3356-48b5-b2bb-6fca7b618c96",
                        "exchangeRate": 1,
                        "receivingAmount": 9.925,
                        "minGuaranteedReceivingAmount": 9.925,
                        "expiresAt": "2024-12-19T01:04:54.783Z",
                        "fees": {
                          "fernFee": {
                            "type": "fern",
                            "currency": "USDC",
                            "amount": 0.075,
                            "usdAmount": 0.08
                          },
                          "developerFee": {
                            "type": "developer",
                            "currency": "USDC",
                            "amount": 0,
                            "usdAmount": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/api/v0/customers": {
        "post": {
          "tags": [
            "KYB/C"
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "individual",
                        "business"
                      ],
                      "description": "The type of customer - either individual or business",
                      "title": "Customer Type"
                    },
                    "firstName": {
                      "type": "string",
                      "description": "First name of the individual customer",
                      "example": "John"
                    },
                    "lastName": {
                      "type": "string",
                      "description": "Last name of the individual customer",
                      "example": "Doe"
                    },
                    "businessName": {
                      "type": "string",
                      "description": "Name of the business for business customers",
                      "example": "Acme Corp"
                    },
                    "email": {
                      "type": "string",
                      "pattern": "^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}$",
                      "description": "Valid email address for the customer",
                      "example": "john.doe@example.com"
                    }
                  },
                  "required": [
                    "type",
                    "email"
                  ],
                  "description": "Request payload for creating a new customer account",
                  "title": "Create Customer Request"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Customer created successfully with KYC link",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "kycLink": {
                        "type": "string",
                        "description": "URL for KYC verification process",
                        "example": "https://kyb.example.com/verify/abc123"
                      },
                      "customerId": {
                        "type": "string",
                        "description": "Unique identifier for the created customer",
                        "example": "03b7030f-6da1-4d76-9352-cdebd82112c8"
                      },
                      "customerStatus": {
                        "type": "string",
                        "enum": [
                          "created",
                          "pending",
                          "active",
                          "rejected",
                          "deactivated"
                        ],
                        "description": "Current status of the customer account",
                        "example": "pending"
                      }
                    },
                    "required": [
                      "kycLink",
                      "customerId",
                      "customerStatus"
                    ],
                    "description": "Response payload after successfully creating a customer",
                    "title": "Create Customer Response"
                  }
                }
              }
            }
          }
        }
      },
      "/api/v0/customers/{customerId}": {
        "get": {
          "tags": [
            "KYB/C"
          ],
          "parameters": [
            {
              "schema": {
                "type": "string",
                "description": "Unique identifier of the customer",
                "example": "03b7030f-6da1-4d76-9352-cdebd82112c8"
              },
              "required": true,
              "name": "customerId",
              "in": "path"
            }
          ],
          "responses": {
            "200": {
              "description": "Customer details retrieved successfully",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "individual",
                          "business"
                        ],
                        "description": "The type of customer - either individual or business",
                        "title": "Customer Type"
                      },
                      "firstName": {
                        "type": "string",
                        "description": "First name of the individual customer",
                        "example": "John"
                      },
                      "lastName": {
                        "type": "string",
                        "description": "Last name of the individual customer",
                        "example": "Doe"
                      },
                      "businessName": {
                        "type": "string",
                        "description": "Name of the business for business customers",
                        "example": "Acme Corp"
                      }
                    },
                    "required": [
                      "type"
                    ],
                    "description": "Customer profile with type-specific required field validation",
                    "title": "Validated Customer Profile"
                  }
                }
              }
            }
          }
        }
      },
      "/api/v0/transactions": {
        "post": {
          "tags": [
            "Transactions"
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "quoteId": {
                      "type": "string",
                      "description": "Identifier of the quote to initiate the transaction",
                      "example": "c88ebfc2-3356-48b5-b2bb-6fca7b618c96"
                    },
                    "customerId": {
                      "type": "string",
                      "description": "Unique identifier of the customer",
                      "example": "03b7030f-6da1-4d76-9352-cdebd82112c8"
                    },
                    "correlationId": {
                      "type": "string",
                      "nullable": true,
                      "description": "Optional: You can add your own correlationId to match the transaction to your own internal records.",
                      "example": "03b7030f-6da1-4e76-3352-3debd82112c8"
                    }
                  },
                  "required": [
                    "quoteId",
                    "customerId"
                  ],
                  "description": "Schema for creating a new transaction",
                  "title": "Create Transaction Schema"
                },
                "example": {
                  "customerId": "03b7030f-6da1-4d76-9352-cdebd82112c8",
                  "quoteId": "c88ebfc2-3356-48b5-b2bb-6fca7b618c96"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Transaction created successfully",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "quoteId": {
                        "type": "string",
                        "description": "Identifier of the quote to initiate the transaction",
                        "example": "c88ebfc2-3356-48b5-b2bb-6fca7b618c96"
                      },
                      "transactionId": {
                        "type": "string",
                        "description": "Unique identifier of the transaction",
                        "example": "1d8beb26-b4d1-47ee-8e5d-0d3905f200c7"
                      },
                      "status": {
                        "type": "string",
                        "enum": [
                          "AWAITING_TRANSFER",
                          "PROCESSING",
                          "COMPLETED",
                          "FAILED"
                        ],
                        "description": "Current status of the transaction",
                        "example": "PROCESSING"
                      },
                      "receivingAmountDetails": {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "type": "number",
                            "description": "Final amount customer will receive after all deductions",
                            "example": 100.5
                          },
                          "currency": {
                            "type": "string",
                            "description": "Currency code of the receiving amount",
                            "example": "USDC"
                          }
                        },
                        "required": [
                          "amount",
                          "currency"
                        ]
                      },
                      "correlationId": {
                        "type": "string",
                        "description": "Optional: You can add your own correlationId to match the transaction to your own internal records.",
                        "example": "03b7030f-6da1-4e76-3352-3debd82112c8"
                      },
                      "fees": {
                        "type": "object",
                        "properties": {
                          "fernFee": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "enum": [
                                  "fern",
                                  "developer"
                                ],
                                "description": "The type of fee"
                              },
                              "currency": {
                                "type": "string",
                                "description": "Currency the fee is denominated in",
                                "example": "USD"
                              },
                              "amount": {
                                "type": "number",
                                "description": "Amount of this fee that was applied",
                                "example": 5.45
                              },
                              "usdAmount": {
                                "type": "number",
                                "description": "Amount of this fee that was applied in USD",
                                "example": 5.45
                              }
                            },
                            "required": [
                              "type",
                              "currency",
                              "amount",
                              "usdAmount"
                            ],
                            "description": "Fee charged by Fern"
                          },
                          "developerFee": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "enum": [
                                  "fern",
                                  "developer"
                                ],
                                "description": "The type of fee"
                              },
                              "currency": {
                                "type": "string",
                                "description": "Currency the fee is denominated in",
                                "example": "USD"
                              },
                              "amount": {
                                "type": "number",
                                "description": "Amount of this fee that was applied",
                                "example": 5.45
                              },
                              "usdAmount": {
                                "type": "number",
                                "description": "Amount of this fee that was applied in USD",
                                "example": 5.45
                              }
                            },
                            "required": [
                              "type",
                              "currency",
                              "amount",
                              "usdAmount"
                            ],
                            "description": "Fee charged by application developer"
                          }
                        },
                        "required": [
                          "fernFee"
                        ],
                        "description": "Detailed breakdown of all fees associated with the transaction",
                        "title": "Transaction Fees"
                      },
                      "exchangeRate": {
                        "type": "number",
                        "description": "The rate at which the source currency is multiplied to determine the equivalent amount in the destination currency",
                        "example": 1.2
                      },
                      "transferInstructions": {
                        "oneOf": [
                          {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "enum": [
                                  "offramp"
                                ],
                                "example": "offramp"
                              },
                              "paymentRail": {
                                "type": "string",
                                "enum": [
                                  "arbitrum",
                                  "base",
                                  "ethereum",
                                  "optimism",
                                  "polygon"
                                ],
                                "description": "The chain to deposit funds on",
                                "example": "ethereum"
                              },
                              "transferWalletAddress": {
                                "type": "string",
                                "pattern": "^0x[a-fA-F0-9]{40}$",
                                "description": "Wallet address to which funds should be sent (valid EVM address)",
                                "example": "0x123abc123abc123abc123abc123abc123abc123a"
                              },
                              "sendingAmountDetails": {
                                "type": "object",
                                "properties": {
                                  "amount": {
                                    "type": "number",
                                    "description": "Amount of the sending currency to send",
                                    "example": 0.5
                                  },
                                  "currency": {
                                    "type": "string",
                                    "description": "Currency code of the sending currency",
                                    "example": "USDC"
                                  }
                                },
                                "required": [
                                  "amount",
                                  "currency"
                                ],
                                "description": "Details of the sending currency"
                              }
                            },
                            "required": [
                              "type",
                              "paymentRail",
                              "transferWalletAddress",
                              "sendingAmountDetails"
                            ],
                            "description": "Instructions for the customer to initiate the offramp",
                            "title": "Transfer Instructions"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "enum": [
                                  "onramp"
                                ]
                              },
                              "paymentRail": {
                                "type": "string",
                                "enum": [
                                  "ach",
                                  "ach_same_day",
                                  "wire"
                                ],
                                "description": "The fiat payment rail used for the transaction"
                              },
                              "transferMessage": {
                                "type": "string",
                                "description": "Message or memo that the customer must include with the deposit",
                                "example": "Payment for order #12345"
                              },
                              "transferBankName": {
                                "type": "string",
                                "description": "Name of the bank for deposit",
                                "example": "First National Bank"
                              },
                              "transferBankAddress": {
                                "type": "string",
                                "description": "Address of the bank",
                                "example": "123 Bank St, Finance City"
                              },
                              "transferBankRoutingNumber": {
                                "type": "string",
                                "description": "Routing number of the bank",
                                "example": "123456789"
                              },
                              "transferBankAccountNumber": {
                                "type": "string",
                                "description": "Bank account number for deposit",
                                "example": "987654321"
                              },
                              "transferBankBeneficiaryName": {
                                "type": "string",
                                "description": "Beneficiary name associated with the bank account",
                                "example": "John Doe"
                              }
                            },
                            "required": [
                              "type",
                              "paymentRail",
                              "transferMessage",
                              "transferBankName",
                              "transferBankAddress",
                              "transferBankRoutingNumber",
                              "transferBankAccountNumber",
                              "transferBankBeneficiaryName"
                            ],
                            "description": "Instructions for the customer to initiate the onramp",
                            "title": "Onramp Transfer Instructions"
                          }
                        ],
                        "description": "Transfer instructions for either onramp or offramp transactions",
                        "title": "Transfer Instructions"
                      }
                    },
                    "required": [
                      "quoteId",
                      "transactionId",
                      "status",
                      "receivingAmountDetails",
                      "fees",
                      "exchangeRate",
                      "transferInstructions"
                    ],
                    "description": "Response schema for a transaction creation request",
                    "title": "Create Transaction Response Schema"
                  },
                  "examples": {
                    "example1": {
                      "summary": "Offramp transaction response",
                      "value": {
                        "quoteId": "c88ebfc2-3356-48b5-b2bb-6fca7b618c96",
                        "transactionId": "1d8beb26-b4d1-47ee-8e5d-0d3905f200c7",
                        "status": "PROCESSING",
                        "receivingAmountDetails": {
                          "amount": 79.5,
                          "currency": "USD"
                        },
                        "fees": {
                          "fernFee": {
                            "type": "fern",
                            "currency": "USD",
                            "amount": 20.5,
                            "usdAmount": 20.5
                          },
                          "developerFee": {
                            "type": "developer",
                            "currency": "USD",
                            "amount": 0,
                            "usdAmount": 0
                          }
                        },
                        "exchangeRate": 1,
                        "transferInstructions": {
                          "type": "offramp",
                          "paymentRail": "ethereum",
                          "transferWalletAddress": "0xbf50fb9c99233f95bce213044507e58485cf9eba5",
                          "sendingAmountDetails": {
                            "amount": 100,
                            "currency": "USDC"
                          }
                        }
                      }
                    },
                    "example2": {
                      "summary": "Onramp transaction response",
                      "value": {
                        "quoteId": "072a8b7b-3356-48b5-b2bb-6fca7b618c96",
                        "transactionId": "908c4092-3a5e-44c8-ac4e-ad47993f00e9",
                        "status": "AWAITING_TRANSFER",
                        "receivingAmountDetails": {
                          "amount": 99.25,
                          "currency": "USDC"
                        },
                        "fees": {
                          "fernFee": {
                            "type": "fern",
                            "currency": "USDC",
                            "amount": 0.75,
                            "usdAmount": 0.75
                          },
                          "developerFee": {
                            "type": "developer",
                            "currency": "USDC",
                            "amount": 0,
                            "usdAmount": 0
                          }
                        },
                        "exchangeRate": 1,
                        "transferInstructions": {
                          "type": "onramp",
                          "paymentRail": "wire",
                          "transferMessage": "test onramp",
                          "transferBankName": "Chase",
                          "transferBankAddress": "10 Downing Steet",
                          "transferBankRoutingNumber": "1234",
                          "transferBankAccountNumber": "10029000",
                          "transferBankBeneficiaryName": "Fern Money"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/api/v0/transactions/{transactionId}": {
        "get": {
          "tags": [
            "Transactions"
          ],
          "parameters": [
            {
              "schema": {
                "type": "string",
                "description": "Unique identifier of the transaction",
                "example": "1d8beb26-b4d1-47ee-8e5d-0d3905f200c7"
              },
              "required": true,
              "name": "transactionId",
              "in": "path"
            }
          ],
          "responses": {
            "200": {
              "description": "Transaction retrieved successfully",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "quoteId": {
                        "type": "string",
                        "description": "Identifier of the quote to initiate the transaction",
                        "example": "c88ebfc2-3356-48b5-b2bb-6fca7b618c96"
                      },
                      "transactionId": {
                        "type": "string",
                        "description": "Unique identifier of the transaction",
                        "example": "1d8beb26-b4d1-47ee-8e5d-0d3905f200c7"
                      },
                      "status": {
                        "type": "string",
                        "enum": [
                          "AWAITING_TRANSFER",
                          "PROCESSING",
                          "COMPLETED",
                          "FAILED"
                        ],
                        "description": "Current status of the transaction",
                        "example": "PROCESSING"
                      },
                      "receivingAmountDetails": {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "type": "number",
                            "description": "Final amount customer will receive after all deductions",
                            "example": 100.5
                          },
                          "currency": {
                            "type": "string",
                            "description": "Currency code of the receiving amount",
                            "example": "USDC"
                          }
                        },
                        "required": [
                          "amount",
                          "currency"
                        ]
                      },
                      "correlationId": {
                        "type": "string",
                        "description": "Optional: You can add your own correlationId to match the transaction to your own internal records.",
                        "example": "03b7030f-6da1-4e76-3352-3debd82112c8"
                      },
                      "fees": {
                        "type": "object",
                        "properties": {
                          "fernFee": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "enum": [
                                  "fern",
                                  "developer"
                                ],
                                "description": "The type of fee"
                              },
                              "currency": {
                                "type": "string",
                                "description": "Currency the fee is denominated in",
                                "example": "USD"
                              },
                              "amount": {
                                "type": "number",
                                "description": "Amount of this fee that was applied",
                                "example": 5.45
                              },
                              "usdAmount": {
                                "type": "number",
                                "description": "Amount of this fee that was applied in USD",
                                "example": 5.45
                              }
                            },
                            "required": [
                              "type",
                              "currency",
                              "amount",
                              "usdAmount"
                            ],
                            "description": "Fee charged by Fern"
                          },
                          "developerFee": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "enum": [
                                  "fern",
                                  "developer"
                                ],
                                "description": "The type of fee"
                              },
                              "currency": {
                                "type": "string",
                                "description": "Currency the fee is denominated in",
                                "example": "USD"
                              },
                              "amount": {
                                "type": "number",
                                "description": "Amount of this fee that was applied",
                                "example": 5.45
                              },
                              "usdAmount": {
                                "type": "number",
                                "description": "Amount of this fee that was applied in USD",
                                "example": 5.45
                              }
                            },
                            "required": [
                              "type",
                              "currency",
                              "amount",
                              "usdAmount"
                            ],
                            "description": "Fee charged by application developer"
                          }
                        },
                        "required": [
                          "fernFee"
                        ],
                        "description": "Detailed breakdown of all fees associated with the transaction",
                        "title": "Transaction Fees"
                      },
                      "exchangeRate": {
                        "type": "number",
                        "description": "The rate at which the source currency is multiplied to determine the equivalent amount in the destination currency",
                        "example": 1.2
                      },
                      "transferInstructions": {
                        "oneOf": [
                          {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "enum": [
                                  "offramp"
                                ],
                                "example": "offramp"
                              },
                              "paymentRail": {
                                "type": "string",
                                "enum": [
                                  "arbitrum",
                                  "base",
                                  "ethereum",
                                  "optimism",
                                  "polygon"
                                ],
                                "description": "The chain to deposit funds on",
                                "example": "ethereum"
                              },
                              "transferWalletAddress": {
                                "type": "string",
                                "pattern": "^0x[a-fA-F0-9]{40}$",
                                "description": "Wallet address to which funds should be sent (valid EVM address)",
                                "example": "0x123abc123abc123abc123abc123abc123abc123a"
                              },
                              "sendingAmountDetails": {
                                "type": "object",
                                "properties": {
                                  "amount": {
                                    "type": "number",
                                    "description": "Amount of the sending currency to send",
                                    "example": 0.5
                                  },
                                  "currency": {
                                    "type": "string",
                                    "description": "Currency code of the sending currency",
                                    "example": "USDC"
                                  }
                                },
                                "required": [
                                  "amount",
                                  "currency"
                                ],
                                "description": "Details of the sending currency"
                              }
                            },
                            "required": [
                              "type",
                              "paymentRail",
                              "transferWalletAddress",
                              "sendingAmountDetails"
                            ],
                            "description": "Instructions for the customer to initiate the offramp",
                            "title": "Transfer Instructions"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "enum": [
                                  "onramp"
                                ]
                              },
                              "paymentRail": {
                                "type": "string",
                                "enum": [
                                  "ach",
                                  "ach_same_day",
                                  "wire"
                                ],
                                "description": "The fiat payment rail used for the transaction"
                              },
                              "transferMessage": {
                                "type": "string",
                                "description": "Message or memo that the customer must include with the deposit",
                                "example": "Payment for order #12345"
                              },
                              "transferBankName": {
                                "type": "string",
                                "description": "Name of the bank for deposit",
                                "example": "First National Bank"
                              },
                              "transferBankAddress": {
                                "type": "string",
                                "description": "Address of the bank",
                                "example": "123 Bank St, Finance City"
                              },
                              "transferBankRoutingNumber": {
                                "type": "string",
                                "description": "Routing number of the bank",
                                "example": "123456789"
                              },
                              "transferBankAccountNumber": {
                                "type": "string",
                                "description": "Bank account number for deposit",
                                "example": "987654321"
                              },
                              "transferBankBeneficiaryName": {
                                "type": "string",
                                "description": "Beneficiary name associated with the bank account",
                                "example": "John Doe"
                              }
                            },
                            "required": [
                              "type",
                              "paymentRail",
                              "transferMessage",
                              "transferBankName",
                              "transferBankAddress",
                              "transferBankRoutingNumber",
                              "transferBankAccountNumber",
                              "transferBankBeneficiaryName"
                            ],
                            "description": "Instructions for the customer to initiate the onramp",
                            "title": "Onramp Transfer Instructions"
                          }
                        ],
                        "description": "Transfer instructions for either onramp or offramp transactions",
                        "title": "Transfer Instructions"
                      }
                    },
                    "required": [
                      "quoteId",
                      "transactionId",
                      "status",
                      "receivingAmountDetails",
                      "fees",
                      "exchangeRate",
                      "transferInstructions"
                    ],
                    "description": "Response schema for a transaction creation request",
                    "title": "Create Transaction Response Schema"
                  },
                  "examples": {
                    "example1": {
                      "summary": "Offramp transaction response",
                      "value": {
                        "quoteId": "c88ebfc2-3356-48b5-b2bb-6fca7b618c96",
                        "transactionId": "1d8beb26-b4d1-47ee-8e5d-0d3905f200c7",
                        "status": "PROCESSING",
                        "receivingAmountDetails": {
                          "amount": 79.5,
                          "currency": "USD"
                        },
                        "fees": {
                          "fernFee": {
                            "type": "fern",
                            "currency": "USD",
                            "amount": 20.5,
                            "usdAmount": 20.5
                          },
                          "developerFee": {
                            "type": "developer",
                            "currency": "USD",
                            "amount": 0,
                            "usdAmount": 0
                          }
                        },
                        "exchangeRate": 1,
                        "transferInstructions": {
                          "type": "offramp",
                          "paymentRail": "sepolia",
                          "transferWalletAddress": "0x4b6f5a3dfc911e992c3d8f38c6bb9d1563b5e9a5",
                          "sendingAmountDetails": {
                            "amount": 100,
                            "currency": "USDC"
                          }
                        }
                      }
                    },
                    "example2": {
                      "summary": "Onramp transaction response",
                      "value": {
                        "quoteId": "072a8b7b-3356-48b5-b2bb-6fca7b618c96",
                        "transactionId": "908c4092-3a5e-44c8-ac4e-ad47993f00e9",
                        "status": "AWAITING_TRANSFER",
                        "receivingAmountDetails": {
                          "amount": 99.25,
                          "currency": "USDC"
                        },
                        "fees": {
                          "fernFee": {
                            "type": "fern",
                            "currency": "USDC",
                            "amount": 0.75,
                            "usdAmount": 0.75
                          },
                          "developerFee": {
                            "type": "developer",
                            "currency": "USDC",
                            "amount": 0,
                            "usdAmount": 0
                          }
                        },
                        "exchangeRate": 1,
                        "transferInstructions": {
                          "type": "onramp",
                          "paymentRail": "wire",
                          "transferMessage": "test onramp",
                          "transferBankName": "Chase",
                          "transferBankAddress": "10 Downing Steet",
                          "transferBankRoutingNumber": "1234",
                          "transferBankAccountNumber": "10029000",
                          "transferBankBeneficiaryName": "Fern Money"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }